<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Critical Path" parallel="tests" >
    <listeners>
        <listener class-name="utilities.WebDriverListener"></listener>
    </listeners>
    <parameter name="environment" value="local" />
    <test name="Login and Register">
        <parameter name="browserName" value="chrome" />
        <parameter name="platform" value="Windows 10" />
        <parameter name="version" value="latest" />
        <parameter name="screenResolution" value="1280x960" />
        <parameter name="url" value="https://patient.qa.heal.com/login" />
        <groups>
            <run>
                <include name="dev"/>
            </run>
        </groups>
        <classes>
            <class name="patient.tests.AddCardTest" />
            <class name="patient.tests.LoginTest" />
            <class name="patient.tests.RegisterTest" />
            <class name="patient.tests.VisitsTest" />
            <class name="patient.tests.VisitTests" />
            <class name="patient.tests.ChooseProfileTest" />
            <class name="patient.tests.ManageProfileTest" />
            <class name="patient.tests.PaymentsTest" />
        </classes>
    </test>
</suite>
