<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="6" name="Critical Path" parallel="classes" >
    <listeners>
        <listener class-name="utilities.WebDriverListener"></listener>
    </listeners>
    <parameter name="environment" value="remote" />
    <test name="SauceLabs Test">
        <parameter name="browserName" value="iPhone" />
        <parameter name="platform" value="Windows 10" />
        <parameter name="version" value="latest" />
        <parameter name="screenResolution" value="1280x960" />
        <parameter name="url" value="https://patient.qa.heal.com/login" />
        <classes>
            <class name="patient.tests.LoginTest" />
            <!--<class name="patient.tests.RegisterTest" />-->
            <!--<class name="patient.tests.VisitsTest" />-->
            <!--<class name="patient.tests.BookVisitTest" />-->
        </classes>
    </test>


</suite> <!-- Suite -->
